<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/navbar.ejs") %>
    <div class="container mx-auto flex h-full">
      <% if (loggedIn) { %> <%- include("./partials/createPost.ejs") %> <% } %>
      <%- include("./partials/posts.ejs") %>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
